// inspired by https://material.io/guidelines/style/color.html#color-color-palette
$black: #333;
$white: #fff;

$grey-500: #9E9E9E;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;

$red-500: #F44336;
$blue-500: #2196F3;
$green-500: #8BC34A;

$amber-100: #FFECB3;
